* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  padding: 10px;
  background: red;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  background: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 40px auto 30px;
}
